$brand: hsla(190, 50%, 50%, 1);
$darkerBrand: hsla(190, 50%, 25%, 1);

body {
  background-color: $brand;
  color: $darkerBrand;
  font-size: 20px;
}

#flash {
  display: none;
  margin-top: 10px;
}

#header {
  // margin-top: 2em;
  div {
    h1 {
      font-size: 7em;
      outline: 0px solid transparent;
    }
    h2 {
      font-size: 4em;
    }
  }
}

small {
  font-family: monospace;
}